

.canvas {
  border: 2px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.submit_button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear_button {
  background-color: #ba2323;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button:hover {
  background-color: #45a049;
}
